html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: #303030;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f1f1;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 800px;
  margin: auto;
}

/* .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
} */

button {
  border: none;
  cursor: pointer;
}

.store-name-wrapper .initials:focus,
button:not(.setup-guide--collapsed button):focus {
  outline: 2px solid #005bd3;
}

/* Header */
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #1a1a1a;
}

.logo .big-screen {
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

input.search-bar {
  height: 32px;
  padding: 8px 35px;
  width: 100%;
  border-radius: 8px;
  border: #616161;
  background: #303030;
  outline: none;
}

input.search-bar:hover {
  border: 1px solid #e1e1e1;
}

input.search-bar:active,
input.search-bar:focus {
  border: 1px solid #fff;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.search-icon {
  position: absolute;
  left: 8px;
}

::placeholder {
  font-weight: 500;
}

::placeholder,
.search-bar {
  color: #b5b5b5;
}

.header nav button:not(.notification-dropdown button):hover {
  background: #616161;
}

.header nav button:not(.notification-dropdown button):active {
  background: #656266;
}

.header nav button:not(.notification-dropdown button):focus {
  background: #656266;
}

.notification-store {
  display: inline-flex;
  align-items: center;
  justify-content: end;
  align-content: center;
  gap: 8px;
  padding: 2px 2px 2px 8px;
  height: 32px;
}

.notification-bell {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  background-color: #303030;
}

.notification-bell:focus {
  outline-offset: 1px;
}

.notification-bell svg {
  width: 20px;
  height: 20px;
}

.notification-bell,
.initials {
  border-radius: 8px;
}

button.store-name-wrapper {
  visibility: hidden;
}

button.store-name-wrapper .initials {
  visibility: visible;
}

.store-name {
  display: none;
}

.initials {
  display: flex;
  height: 28px;
  width: 28px;
  padding: 9px 5px 10px 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.4);
  background: #36fba1;
}

.notification-dropdown {
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid #dbdbdb;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  animation: slide-in 300ms;
}

.notification-dropdown.active {
  display: flex;
}

.notification-dropdown h4 {
  flex: 1;
  font-weight: 500;
}

.notification-dropdown button {
  padding: 3 4px;
  background: #ffff;
}

.notification-dropdown .filter-icon {
  margin-right: 3px;
}

.notification-dropdown .text {
  flex: 0 0 100%;
  font-weight: 600;
  padding: 16px;
  color: #616161;
}

.notification-dropdown .text,
.profileMenu-list .name {
  background: #f1f1f1;
}

.profileMenu-list {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 6px 0px;
  gap: 4px;
  background: #ffffff;
  animation: slide-in 300ms;
}

.notification-dropdown,
.profileMenu-list {
  position: absolute;
  top: 65px;
  right: 20px;
  margin-left: 5px;
  background: #ffffff;
  border-radius: 14px;
  z-index: 1;
  order: 1px solid var(--stroke-s-50, #dbdbdb);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.profileMenu-list li {
  margin: 0 3px;
}

.profileMenu-list .initials {
  font-size: 10.5px;
  font-weight: 500;
  padding: 9.625px 5.875px 10.375px 6.125px;
  margin: 0 4px 0 0;
  outline: none;
}

.profileMenu-list li a {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 8px;
  color: #303030;
  cursor: pointer;
}

.profileMenu-list li a:hover {
  border-radius: 8px;
  background: #f1f1f1;
}

.profileMenu-list li a:not(li.all-stores a) {
  padding: 8px;
}

.profileMenu-list li.all-stores a {
  padding: 5px 8px;
}

.profileMenu-list .name {
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 8px;
  font-weight: 600;
  width: 100%;
  border-radius: 8px;
}

.profileMenu-list .check-mark {
  flex: 1;
  display: flex;
  justify-content: end;
}

.profileMenu-list li.splitter {
  margin: 0;
  border: 0;
  height: 0.75px;
  border-bottom: 1px solid #e1e1e1;
}

.nameEmail-wrapper {
  padding: 8px;
}

.profileMenu-list .nameEmail {
  display: block;
  font-weight: 500;
}

.all-stores--icon {
  margin-right: 2px;
  vertical-align: middle;
}

.select-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 8px 12px 16px;
  background: #1a1a1a;
}

.select-plan p {
  flex: 1;
  font-weight: 500;
  color: #e3e3e3;
}

.select-plan a {
  color: #323232;
  font-weight: 600;
}

.select-plan--btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}

.select-plan--btn:hover,
.select-plan--btn:active {
  background: #f7f7f7;
}

.select-plan .cancel {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  background: none;
}

.setup-guide {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 16px;
  border: 1px solid #dbdbdb;
  background: #fff;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}

.setup-guide--collapsed {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  line-height: 140%;
}

.setupCancel-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.setup-guide--collapsed h4 {
  font-size: 14px;
  font-weight: 600;
  flex: 1;
  color: #303030;
  padding-bottom: 8px;
}

.setup-guide--collapsed p {
  width: 100%;
}

.setup-guide .open,
.setup-guide .close {
  padding: 0 4px;
  margin-top: -10px;
  border-radius: 6px;
  background: #ffffff;
  cursor: pointer;
}

.close svg,
.open svg {
  vertical-align: middle;
}

.close:hover,
.open:hover {
  background: #f1f1f1;
}

button.close:focus svg,
button.open:focus svg {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.setup-guide--collapsed .progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 168px;
  margin: 13px 0 0 0;
}

.progress-bar-fill {
  transition: width 0.4s ease;
}

.guides {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  gap: 2px;
  cursor: pointer;
}

.guide-lists {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px 0;
  gap: 5px;
  border-radius: 10px;
  height: 100%;
}

.guide-lists-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0 0 0;
  flex: 1;
}

.guide-lists--hidden {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.guide-lists h5 {
  font-weight: 500;
}

.guide-lists--hidden p {
  font-weight: 500;
  color: #616161;
  line-height: 140%;
}

.guide-lists--hidden img {
  display: none;
}

.guide-lists--hidden a {
  color: #3d81db;
}

.check {
  display: flex;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  transition: all 500ms ease-in;
}

.check:focus {
  outline-offset: 2px;
}

.checked-icon {
  animation: zoom-in-spin 300ms linear;
}

.check .checked-icon,
.check .spinner {
  width: 24px;
  height: 24px;
}

.check .checked-icon,
.guide-lists svg {
  vertical-align: middle;
}

.spinner {
  animation: spin 500ms infinite linear;
}

.checkbox:hover circle {
  stroke-dasharray: 0;
  stroke-dashoffset: 15;
}

.guide-lists--btn {
  display: block;
}

.guide-lists--btn,
.product-btns--black {
  padding: 6px 12px;
  color: #f6f3f6;
  line-height: 130%;
  border-radius: 6px;
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}

.guide-lists--btn,
.product-btns {
  display: flex;
  align-items: end;
  align-self: flex-end;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 600px;
}

.guide-lists--btn:hover,
.product-btns--black:hover {
  background: #2a2a2a;
}

.guide-lists--btn:active,
.product-btns--black:active {
  background: #2b2b2b;
}

.guide-lists--btn:focus,
.product-btns--black:focus {
  background: #404040;
}

.product-btns {
  display: flex;
  align-items: center;
}

.product-btns--white {
  padding: 6px 12px;
  border-radius: 6px;
  margin-left: 13px;
}

.product-btns--white:hover {
  background: #e7e7e7;
}

.product-btns--white:active {
  background: #e0e0e0;
}

.active-link {
  border: 2px solid #005bd3;
  border-radius: 8px;
  background: #ffffff;
}

.hidden {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoom-in-spin {
  from {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    right: 0px;
  }
  100% {
    right: 20px;
  }
}

@media screen and (min-width: 912px) {
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .logo img.big-screen {
    display: block;
    width: 104.868px;
    height: 30px;
  }

  .logo .small-screen {
    display: none;
  }

  .store-name-wrapper .initials {
    outline: none;
  }

  button.store-name-wrapper {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 8px;
    color: #e3e3e3;
    background: #303030;
    visibility: visible;
  }

  .store-name {
    padding: 8px;
    display: inline-block;
    color: #e3e3e3;
  }

  .select-plan {
    padding: 11px 20px;
  }
}

@media screen and (min-width: 640px) {
  .container {
    padding: 0 16px;
  }

  input.search-bar {
    width: 480px;
  }

  .notification-dropdown {
    width: 400px;
  }

  .select-plan {
    border-radius: 8px;
  }
  .select-plan .selectBtn-container {
    margin-right: 8px;
  }

  .setup-guide {
    border-radius: 18px;
  }

  .guide-lists--hidden img {
    position: relative;
    top: -15px;
    display: block;
    width: 156.145px;
    height: 120px;
    flex-shrink: 0;
  }

  .guides li:last-child .guide-lists--hidden p {
    padding: 10px 0 0 0;
  }
}

@media screen and (min-width: 340px) {
  .profileMenu-list {
    min-width: 320px;
  }
}

@media screen and (max-width: 640px) {
  /* .header nav {
    padding: 12px 13px;
  } */

  .search-bar {
    width: 238px;
  }

  .logo img.small-screen {
    width: 32px;
    height: 32px;
  }

  .select-plan .selectBtn-container {
    order: 2;
    width: 100%;
    margin: 14px 0 8px 0;
  }

  .select-plan .cancel {
    margin-right: 8px;
  }

  .guide-lists--hidden {
    padding: 17px 0 0 0;
  }

  .guide-lists--btn,
  .product-btns {
    margin: 15px 0;
  }
  .select-plan {
    padding: 10px 8px 12px 16px;
  }
}
